/* GERAL */

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}

/* HEADER */

header {
    background-image: url(./images/banner.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
    padding: 10em;
    align-items: center;
}

.menu-header, .texto-header {
    text-align: center;
    align-items: center;
}

.texto-header, .botoes-header {
    color:#fff;
}

.menu-header {
    display:flex;
    padding: 4em;
    justify-content:space-between;
}

.botoes-header {
    text-decoration: none;
    border-style:solid;
    border-color:#fff;
    border-width: 0.1em;
    border-radius: 5em;
    padding: 1.4em;
}

/* MAIN */

    /* SECAO SUPERIOR */

.secao-superior {
    display:flex;
}

.post-principal {
    padding: 2em;
    width:60%;
}

.imagem-principal {
    padding-top:1.8em;
    padding-bottom:0.8em;
}

.texto-principal {  
    padding-top:1em;
    padding-bottom:1em;
}

.post-lateral {
    padding: 2em;
    width:40%;
}

.subsecao-lateral {
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.titulo-lateral {
    padding:1em;
    padding-left:0em;
}

.imagem-lateral {
    padding: 1em;
}

    /* SECAO INFERIOR */

.secao-inferior {
    display:flex;
    padding: 2em;
    align-items: top;
    background-color:#eeeeee;
}

.imagem-inferior {
    padding-top:2em;
}

.texto-inferior {
    padding-top: 1.8em;
    padding-bottom: 4.5em;
}

.botao-inferior {
    text-decoration:none;
    color:#fff;
    background-color: #ff6767;
    border-radius: 5em;
    padding: 1.4em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.particao-inferior{
    padding: 2.5em;
}

/* FOOTER */

footer {
    background-color: rgb(29, 29, 29);
    padding: 5em 0em;
}

.titulo-footer {
    color:#fff;
    padding-bottom: 1.5em;
}

.secao-footer {
    display: flex;
}

.particao-footer {
    padding: 3em;
}

.botao-footer {
    text-decoration: none;
    color:#a8a8a8;
    padding:0.8em;
}
